@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Georgia, Times, serif;
	background-color: white;
}

#header {
	width: 1100px;
	height: 100px;
	margin: auto;
	background-color: #E1DCDC;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 70% auto;
	border: 1px;
	border-color: #E1DCDC;
	
}

#footer{
	width: 1100px;
	height: 40px;
	margin: auto;
	margin-top: 10px;
	background-color: #E1DCDC;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 70% auto;
	border: 1px;
	border-color: #E1DCDC;
	text-align: center;
}



#main {
	width: 1100px;
	height: auto;
	min-height: 500px;
	margin: auto;
	margin-top: 10px;
	background-color: white;
	border: none;
	

}

#login {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border: 1px groove red;
	margin-bottom: 10px;

}

#innerlogin {
	padding: 10px 10px 10px 10px;
}

.input {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	border: 1px groove red;
    text-align: center;
}

.amount {
	width: 101px;
	height: 28px;
	margin-bottom: 5px;
	border: 1px groove red;
    text-align: center;
}

.button {
    color: #fff;
	border-style: none;
	width: 100%;
	height: 30px;
	background: rgb(212,75,56);
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
}
.button:hover { background: rgb(232,95,76); } 
.button:active { background: rgb(152,15,0); } 


#regButton {
    color: #fff;
	border-style: none;
	width: 100%;
	height: 30px;
	background: rgb(212,75,56);
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
}
#regButton:hover { background: rgb(232,95,76); } 
#regButton:active { background: rgb(152,15,0); } 

#regInput {
	width: 100%;
	height: 30px;
	border: 1px groove red;
    text-align: center;
}
	

#register {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
}

#menu {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border: 1px groove red;
	margin-bottom: 10px;
	
}

#menu ul {
	padding: 10px 10px 10px 10px;
	list-style-type: none;
	width: auto;
}

#menu li {
	background-size: 180px auto;
	border-radius: 14px;
	margin-top: 4px;
}

#menu a {
	color: #302E2E;
	padding: 5px;
	padding-left: 30%;
	text-decoration: none;
	display: block;
}

#menu a:active {
	padding-left: 31%;;
}

#content {
	background-color: white;
	border-radius: 20px;
	width: 100%;
	min-height: 700px;
}

#left-content {
	float: left;
}

#right-content {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	width: 78%;
	padding-bottom: 10px;
}

#enButton {
	color: #fff;
	height: 21px;
	width: 30px;
    background: rgb(212,75,56);
	text-align: center; 
	border-style: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 83%;
}

#enButton:hover { background: rgb(232,95,76); } 
#enButton:active { background: rgb(152,15,0); } 

#ruButton {
	color: #fff;
	height: 21px;
	width: 30px;
	background: rgb(212,75,56);
	border-style: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 86%;
}
#ruButton:hover { background: rgb(232,95,76); } 
#ruButton:active { background: rgb(152,15,0); }

#searchField {
	width: 220px;
	height: 30px;
	border-style: none;
	position: absolute;
	left: 60%;
	top: 70px;
	border: 1px groove red;
	
}

#searchButton {
	color: #fff;
	height: 34px;
	width: 150px;
	background: rgb(212,75,56);
	background-size: auto 18px;
	border-style: none;
	position: absolute;
	left: 78%;
	top: 70px;
}
#searchButton:hover { background: rgb(232,95,76); } 
#searchButton:active { background: rgb(152,15,0); }

#productInf {
	width: 97%;
	height: auto;
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}

#productNameDescription {
	padding-top: 15px;
	width: 70%;
	float: left;
}

#priceBuy {
	width: 9%;
	float: left;
	padding-left: 5px;
}

#productImage {
	padding-top: 15px;
	width: 20%;
	height: auto;
	float: left;
	padding-bottom: 10px;
}

#productName {
	width: auto;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 18px;
}

#productsShortDescription {
	width: auto;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 14px;
}

#productPrice {
	text-align: center;
	font-size: 12px;
	padding-top: 50%;
	margin-bottom: 10px;
}

#cancelButton {
	color: #fff;
	height: 30px;
	width: 90%;
	background: rgb(212,75,56);
	border-style: none;
    text-align: center;
	cursor: pointer;
}
#cancelButton:hover { background: rgb(232,95,76); } 
#cancelButton:active { background: rgb(152,15,0); }

.title {
	padding-top: 10px;
	font-size: 28px;
	text-align: center;
}

#error {
	width: 90%;
	height: 60px;
	padding-left: 40px;
	padding-top: 40px;
}

#errorImage {
	width: 10%;
	height: 100%;
	background: url(../images/error.png) no-repeat;
	background-size: auto 100%;
	float: left;
}

#errorMessage {
	width: 70%;
	padding-left: 30px;
	font-size: 18px;
	float: left;
}

#success {
	width: 90%;
	height: 60px;
	padding-left: 40px;
	padding-top: 40px;
}

#successImage {
	width: 10%;
	height: 100%;
	background: url(../images/success.png) no-repeat;
	background-size: auto 100%;
	float: left;
}

#successMessage {
	width: 70%;
	padding-left: 30px;
	font-size: 18px;
	float: left;
}

#cart {
	width: 97%;
	height: 40px;
	padding-left: 10px;
	padding-top: 30px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#cartName {
	width: 60%;
	float: left;
	padding-left: 30px;
}

#cartPrice {
	width: 20%;
	float: left;
	padding-left: 10px;
}

#deleteFromCartButton {
    color: #fff;
	border-style: none;
	width: 10%;
	height: 30px;
	background: rgb(212,75,56);
	text-align: center;
	cursor: pointer;

}
#deleteFromCartButton:hover { background: rgb(232,95,76); } 
#deleteFromCartButton:active { background: rgb(152,15,0); } 

#makeOrderButton {
    color: #fff;
	border-style: none;
	width: 140px;
	height: 30px;
	background: rgb(212,75,56);
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 10px;
}
#makeOrderButton:hover { background: rgb(232,95,76); } 
#makeOrderButton:active { background: rgb(152,15,0); } 


#detProductImage {
	float: left;
	width: 30%;
	padding-top: 30px;
}

#detProductInf {
	width: 60%;
	float: left;
	padding-top: 30px;
}

.detProductInfBlock {
	margin-top: 5px;
	font-size: 18px;
	padding-left: 10px;
}

#detProductDescription {
	width: 90%;
	padding-left: 40px;
	padding-top: 30px;
	font-size: 17px;
}

#detBuy {
	width: 12%;
	padding-left: 42%;
	padding-top: 20px;
}

#orderTable {
	font-size: 17px;
	background: white;
	max-width: 70%;
	width: 70%;
	border-collapse: collapse;
	text-align: center;
}

#orderText {
	border: 1px groove red;
}

#orderTable th {
	font-weight: normal;
	border-bottom: 1px solid black;
	padding: 10px 8px;
}

#orderTable td {
	padding: 9px 8px;
	transition: .3s linear;
}

select {
	width: 100%;
	height: 34px;
	padding: 3px;
	margin: 0;
	background: #f8f8f8;
	color: black;
	border: 1px groove red;
	outline: none;
	display: inline-block;
	appearance: none;
	cursor: pointer;
}